<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  <div class="p-12 bg-primary-light">
    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'"> </canvas>
  </div>
  <div class="p-12 bg-primary-light">
    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'"> </canvas>
  </div>
  <div class="p-12 bg-primary-light">
    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'"> </canvas>
  </div>
  <div class="p-12 bg-primary-light">
    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'"> </canvas>
  </div>
</div>
